// Colors
//
$theme: #4ba1ef;
$text: white;
$light-grey: #111325;
$dark-grey: #27292f;
$highlight-grey: #7d828a;
$midnightblue: #2c3e50;

// Fonts
//
$fonts: "Inter", sans-serif;
$code-fonts: "iA Writer Mono", Menlo, Consolas, ui-monospace, monospace;


@font-face{font-family:iA Writer Mono;font-style:normal;font-display:swap;
  font-weight:400;src:url(/iAWriterMonoS-Regular.woff2) format("woff2")}

// Mixins
//
@mixin dimmed {
  opacity: 0.6;
}

@mixin aTag {
  a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -1px 0 $text;
    transition-property: box-shadow;
    transition-duration: 0.1s;
  }
}
